# torch==1.6.0
# torchvision==0.7.0
# pip3 install torch==1.8.2+cu111 torchvision==0.9.2+cu111 torchaudio==0.8.2 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torch_tb_profiler
wandb
yapf
flake8
jedi
# pytorch-lightning
